h1{
	position:relative;
	left:308px;
	}
img{
	background-color:#393d40;
	filter: Alpha(Opacity=100);
	opacity: 0.7;
	}
.linea{
	border:#151515 3px solid; 
	width: 100px;
	margin:50px;
	}
.contenedor{
	position:relative;
	width: 60%;
	text-align:center;
	margin:0 auto;
	}
.coder{
	position:relative;
	display:inline-block;
	margin: 3px;
	}
.nomb{
	position:absolute;
	padding-top:190px; 
	padding-left:70px;
	color:white;
	z-index:2;
	}
